body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background: #849d8f;
  margin: 0px;
}

h1 {
  font-size: 35px;
  color: #000000;
  font-weight: bold;
  margin: 0px;
}

h2 {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  margin: 0px;
  line-height: 1;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none; 
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  background-image: linear-gradient(#f26843, #db4c38);
  border-radius: 25px;
  padding: 10px 22px;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  box-shadow: 0px 1px 3px 0px #ac5949;
}

.hidden {
  position: absolute;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  background: #f8f7f4;
  border-radius: 6px;
  box-shadow: 5px 10px 35px -5px #000000;
  padding: 15px;
}

.dropdown:hover .dropdown-block {
  display: block;
}

.dropdown-block {
  display: none;
}

.ice-input {
  display: none;
}

.pseudo-image::after,
.pseudo-image:hover::after,
.pseudo-image::before,
.pseudo-image:hover::before {
  content: "";
  position: absolute;
  transform: translate(0%, 0%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}








.site-wrapper {		
  background-color: #849d8f;
  background-image: url("slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.content-wrapper {
  width: 100%;
	max-width: 1146px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 110px;
  color: #ffffff;
  padding-top: 10px;
}

.navigation {
  
}

.navigation-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
  padding-left: 0px;
  padding-top: 0px;
}

.navigation-item {
  padding-right: 30px;
}

.navigation-item:first-child {
  padding-top: 0px;
  margin-top: -20px;
}

.navigation-link {
  color: #ffffff;
}

.catalog {
  list-style: none;
  padding-left: 0px;
}

.user-call {
  position: relative;
  padding-top: 10px;
}

.users {
  display: flex;
  justify-content: flex-end;
}

.user-link {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  min-width: 32px;
  height: 32px;
  vertical-align: top;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.15);
  margin-left: 10px;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.user-search-link::before {
  transform: translate(45%, 45%);
  width: 17px;
  height: 17px;
  background-position: -10px -1159px;
}

.user-search-link:hover::before {
  transform: translate(45%, 45%);
  width: 17px;
  height: 17px;
  background-position: -10px -1122px;
}

.user-login-link {
  padding: 5px 15px 5px 45px;
}

.user-login-link::before {
  transform: translate(-30px, 0%);
  width: 21px;
  height: 19px;
  background-position: -10px -831px;
}

.user-login-link:hover::before {
  transform: translate(-30px, 0%);
  width: 21px;
  height: 19px;
  background-position: -10px -792px;
}

.user-cart-link {
  padding: 5px 30px 5px 45px;
}

.user-cart-link::before {
  transform: translate(-30px, 0%);
  width: 21px;
  height: 20px;
  background-position: -10px -50px;
}

.user-cart-link:hover::before {
  transform: translate(-30px, 0%);
  width: 21px;
  height: 20px;
  background-position: -10px -10px;
}

.call {
  position: absolute;
  min-width: 200px;
  text-align: right;
  right:0px;
  top:50px;
  line-height: 1px;
  font-weight: 500;
}

.call-time {
  font-size: 14px;
}

.call-number {
  font-size: 22px;
}




/*slider*/


.slider {
  position: relative;
  text-align: center;
  color: #ffffff;
  margin-top: 270px;
  margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0px;
  z-index: 2;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image:  url("../img/ice-slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-slide-3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("slide-2.png");
}

.site-wrapper::after {
  background-image: url("slide-3.png");
}

.slide-btn {
  font-size: 32px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 40px;
}





.section-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}


/*stocks*/


.stock {
  position: relative;
  box-sizing: border-box;
  width: 49%;
  min-height: 229px;
  border-radius: 20px;
  padding: 20px;
}

.raspberries {
  background-image: url("../img/raspberries.jpg");
}

.chocolate {
  background-image: url("../img/chocolate.jpg");
}

.stock-link {
  position: absolute;
  right: 20px;
  bottom: 25px;
}


/*goods*/


.goods-item {
  position: relative;
  margin-right: 2%;
  text-align: center;
}

.goods-price {
  position: absolute;
  top:50%;
  font-size: 46px;
  font-weight: 700;
}

.goods-name {
  color: #ffffff;
}



/*promo*/

.promo {
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  background-image: url("../img/wafer.jpg");
  padding: 30px 20px 10px;
}

.promo-name {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin: 0px;
  margin-bottom: 12px;
}

.promo-text {
  position: relative;
  width: 43%;
  margin-left: 55px;
  color:  #000000;
}

.cow::before {
  transform: translate(-55px, -25%);
  width: 48px;
  height: 49px;
  background-position: -10px -330px;
}

.ice::before {
  transform: translate(-55px, -25%);  
  width: 49px;
  height: 49px;
  background-position: -10px -565px;
}

.sheet::before {
  transform: translate(-55px, -25%);
  width: 49px;
  height: 49px;
  background-position: -10px -1196px;
}

.thermometer::before {
  transform: translate(-55px, -25%);
  width: 48px;
  height: 49px;
  background-position: -10px -1265px;
}





/*.strawberry*/

.strawberry {
  background-image: url("../img/strawberry.jpg");
  min-height: 220px;
}

.stock-new {
  color: #000000;
  margin: 0px;
  margin-bottom: 10px;
}

.stock-link-ref {
  display: inline-block;
  vertical-align: top;
  max-width: 300px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  
}


/*.mail-field*/

.mail-field {
  min-height: 220px;
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 20px;
  border-image-slice: 12;
  border-image-source:
    url("../img/mail-field.jpg");
  background-clip: content-box;
  background-color: #ffffff;
  color: #000000;
  border-image-width: 10px;
}





/*.map*/

.map {
  background-image: url(../img/map.jpg);
  min-height: 431px;
}

.map-wrapper {
  display: flex;
  justify-content: flex-end;
}

.map-info {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  color: #000000;
  width: 300px;
  min-height: 310px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  line-height: 1.5;
  margin: 65px 0px;
}




/*footer*/

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 104px;
}





.social-btn {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border: 5px solid;
  border-radius: 50%;
  border-color: rgba(255,255,255,0.15);
  background-color: rgba(255,255,255,0.2);
  margin: 5px;
}


.social-btn-tw::before {
  width: 33px;
  height: 32px;
  background-position: -10px -1334px;
}


.social-btn-inst::before {
  width: 32px;
  height: 32px;
  background-position: -10px -740px;
}

.social-btn-fb::before {
  width: 32px;
  height: 32px;
  background-position: -10px -399px;
}


.social-btn-vk::before {
  width: 32px;
  height: 32px;
  background-position: -10px -1386px;
}



.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}


.heart::before {
  width: 15px;
  height: 13px;
  background-position: -10px -451px;
}












/*inner*/

.breadcrumbs {
  display: flex;
}


.breadcrumbs-item {
  list-style-type: none;
  margin-right: 40px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}



.main-name {
  color: #ffffff;
}

.sorting-wrapper {
  display: flex;
  flex-direction: column;
}





.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-name {
  font-size: 20px;
}
























.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-red {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-white {
    width: 21px;
    height: 20px;
    background-position: -10px -50px;
}

.sprite-checkbox-included {
    width: 20px;
    height: 20px;
    background-position: -10px -90px;
}

.sprite-checkbox-included-block {
    width: 20px;
    height: 20px;
    background-position: -10px -130px;
}

.sprite-checkbox-included-hover {
    width: 20px;
    height: 20px;
    background-position: -10px -170px;
}

.sprite-checkbox-off {
    width: 20px;
    height: 20px;
    background-position: -10px -210px;
}

.sprite-checkbox-off-block {
    width: 20px;
    height: 20px;
    background-position: -10px -250px;
}

.sprite-checkbox-off-hover {
    width: 20px;
    height: 20px;
    background-position: -10px -290px;
}

.sprite-cow {
    width: 48px;
    height: 49px;
    background-position: -10px -330px;
}

.sprite-fb {
    width: 32px;
    height: 32px;
    background-position: -10px -399px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -10px -451px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -10px -484px;
}

.sprite-ice {
    width: 49px;
    height: 49px;
    background-position: -10px -565px;
}

.sprite-ice1 {
    width: 33px;
    height: 33px;
    background-position: -10px -634px;
}

.sprite-ice2 {
    width: 33px;
    height: 33px;
    background-position: -10px -687px;
}

.sprite-inst {
    width: 32px;
    height: 32px;
    background-position: -10px -740px;
}

.sprite-login-black {
    width: 21px;
    height: 19px;
    background-position: -10px -792px;
}

.sprite-login-white {
    width: 21px;
    height: 19px;
    background-position: -10px -831px;
}

.sprite-radiobatton-included {
    width: 21px;
    height: 22px;
    background-position: -10px -870px;
}

.sprite-radiobatton-included-block {
    width: 21px;
    height: 22px;
    background-position: -10px -912px;
}

.sprite-radiobatton-included-hover {
    width: 21px;
    height: 22px;
    background-position: -10px -954px;
}

.sprite-radiobatton-off {
    width: 21px;
    height: 22px;
    background-position: -10px -996px;
}

.sprite-radiobatton-off-block {
    width: 21px;
    height: 22px;
    background-position: -10px -1038px;
}

.sprite-radiobatton-off-hover {
    width: 21px;
    height: 22px;
    background-position: -10px -1080px;
}

.sprite-search-black {
    width: 17px;
    height: 17px;
    background-position: -10px -1122px;
}

.sprite-search-white {
    width: 17px;
    height: 17px;
    background-position: -10px -1159px;
}

.sprite-sheet {
    width: 49px;
    height: 49px;
    background-position: -10px -1196px;
}

.sprite-thermometer {
    width: 48px;
    height: 49px;
    background-position: -10px -1265px;
}

.sprite-tw {
    width: 33px;
    height: 32px;
    background-position: -10px -1334px;
}

.sprite-vk {
    width: 32px;
    height: 32px;
    background-position: -10px -1386px;
}

